h1{
    font-family: 'Audiowide', cursive;
    font-size: 51px;
    color: #ffff;
}
h2{
    font-family: 'Audiowide', cursive;
    font-size: 38px;
    color: #ffff;
}
h3{
    font-family: 'DM Mono', monospace;
    font-size: 16px;
    color: #ffff;
}
p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #ffff;
}
.anotheTextColor{
    color: #A8A8A8;
}

body{
    background-color: #000000;
    width: 1440px;
    padding-left: 200px;
}

.navigation{
    
    display: flex;
    justify-content: space-between;
    
    
}

.nav{
    display: flex;
    justify-content:left;
    width: 1210px;    
}

.nav_btm a{

    padding: 20px 40px;
    height: 30px;
    width: 40px;
    color: aliceblue;
    font-family: 'DM Mono', monospace;
    font-size: 16px;
    text-decoration: none;
    transition: 0.5s;       
}    
.nav_btm:hover a{
    padding: 20px 40px;
    background-color: #8DFD1B;
    color: #000000;
    
    
}
.icons{
    display: flex;
    width: 210px;
    justify-content:space-between;
    padding-top: 20px;
}
.icon{
    padding: 10px 10px;
    background-color: aliceblue;    
    
}
.icon:hover{
    background-color: #8DFD1B;
    transform:scale(1.1);       
    transition: 0.3s;
}
.slaid_1{
    margin-top: 40px;
    height: 653;
    display: flex;
}
.meta_content{    
    width: 453px;
    height: 429px;
    margin-top: 50px;       
}

.meta_content p{
    margin-top:40px;
    width: 306px;
}
.bottom{
    margin-top: 100px;
}
.bottom a{
    border: 2px solid #8DFD1B;
    padding: 20px 20px;
    text-decoration: none;
    margin-top: 30px;
    font-family: 'DM Mono', monospace;
    font-size: 16px;
    color: #8DFD1B;
    transition: 0.5s;    
}
.bottom:hover a{
    color: #000000;
    background-color: #8DFD1B;
    border: 2px solid #8DFD1B;    
}

.NFT_cards{
    display: flex;
    margin-left: 80px;
}

.card{
    margin-right: 20px;
    
}
.NFT_cards  .NFT_card3{
    margin-top: 100px;
    filter: opacity(30%);
}
.NFT_cards  .NFT_card1{
    margin-top: 100px;
    filter: opacity(30%);
}
.slaid_2{
    display: flex;
    margin-top: 115px;
    justify-content: space-between;
}
.wave_nft{
    
    height: 578px;
    width: 442px;
}
.wave_nft .NFT_card1{
    margin-left: 60px;
}
.descriptons{
    height: 571px;
    width: 610px;
    margin-left: 150px;
}
.descriptons h3{
    font-size: 21px;
    color: #8DFD1B;
}
.other_p{
    display: flex;
}
.line{
    height: 115px;
    width: 7px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #8DFD1B;
}

/*slaid_3*/

.slaid_3{
    display: flex;          
    justify-content:space-between;
    animation-name: right;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    
}
.slaid_3 h1{
    font-size: 79px;
    margin-right: 20px;
}

/*slaid_3_anim*/

.TextColor{
    color: #1b1b1b;
    -webkit-animation: TextColor 3s linear infinite;
    animation: TextColor 3s linear infinite;
}

@keyframes right{
    from{ transform: translateX(-185px)}
    to{transform: translateX(-30px)}
}
.TextColor{ 
    color: #3f3f3f;   
    -webkit-animation: TextColor 6s linear infinite;
    animation: TextColor 6s linear infinite;
    animation-delay: 3s;
}
@-webkit-keyframes TextColor {
    0% {opacity: 100%; }
    50% { opacity: 0% }
    100% { opacity: 100% }
} 
@keyframes TextColor {
    0% {opacity: 100%; }
    50% { opacity: 0% }
    100% { opacity: 100% }
} 

.TextColor1{
    color: #ffffff;
    -webkit-animation: TextColor1 6s linear infinite;
    animation: TextColor1 6s linear infinite;
}
@-webkit-keyframes TextColor1 {
    0% {opacity: 100%; }
    50% { opacity: 0% }
    100% { opacity: 100% }
} 
@keyframes TextColor1{
    0% {opacity: 100%; }
    50% { opacity: 0% }
    100% { opacity: 100% }
}

/*slaid_4*/

.slaid_4{
    margin-top: 177px;
    height: 678px;
    
    
}
.artists{
    position: absolute;
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto auto auto;    
    height: 678px;
    width: 1160px;
    left: 296px;

    
}
.worker{

    margin-right: 80px; 
    height: 309px;
    width: 245px;
    text-align: center;
    filter: grayscale(100%);
    transition: 0.5s;

}
.worker:hover{
    filter: none;      
    background-color: #8DFD1B;        
    transform: scale(1.1);
}
.worker:hover h3{
    font-size: 18px;    
    color: #000000;    
    
}

/*slaid_5*/

.slaid_5{
    width: 80%;
    margin-left: 141px;
    margin-top: 150px;
    height: 678px;
    
}

.slaid_5 h1{    
    text-align: center;    
}

.vtabs{
    position: relative;
    margin-top: 60px;
}
.vtabs input{
    display: none;
    
}
.vtabs label{
    display: flex;
    width: 20%;
    padding: 40px;
    color: #ffffff;   
    transition: 30ms ease;
    font-family: 'DM Mono', monospace;
    font-size: 16px;

}
.vtabs:hover label{
    cursor: pointer;
    color: #ffffff;
}
.vtabs input:checked + label{
    color: #8DFD1B;
    background-color: #222222;
    font-size: 25px; 
    border-left: 5px solid #8DFD1B;
}
.vtabs #tab1:checked ~.vtab-content #content1,
.vtabs #tab2:checked ~.vtab-content #content2,
.vtabs #tab3:checked ~.vtab-content #content3{
    display: flex;
    
}
.vtab-content{
    height:538px;
    background-color: #222222; 
    
}
.vtabs .vtab-content{
    position: absolute;
    top: 0;
    width: 75%;
    right: 17px;
     

}
.vtabs .vtab-content div{
    display: none;
}
.con1, .con2, .con3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
     
    
}

.tabs_cont_1{     
    padding: 25px;
    width: 546px;
}
.tabs_cont_1 h3{
    font-family:'DM Mono', monospace;
    color: #8DFD1B;
    font-size: 21px;
    padding-left: 10px;
    border-left: 5px solid #8DFD1B;
}


/*baner*/

.baner { 
    padding-top: 50px;
}

/*slaid_6*/
.slaid_6{
    width: 1431px;
    height:1724px;
}

.slaid_6 h1{
    text-align: center;
} 

.prase{
    position: relative;
    margin-top: 70px;
    margin-left: 435px;
    height: 329px;
    width: 540px;
    border: 2px solid #8DFD1B;
    transition: 0.5s;
    background-color:#1b1b1b;
    margin-bottom: 90px;
      

    
}
.par1{
    display: flex;
    border-bottom: 2px solid #8DFD1B;

}
.number{
    border: 2px solid #8DFD1B;
    color: #8DFD1B;
    height: 45px;
    width: 45px;
    text-align: center;
    font-family: 'DM Mono', monospace;
    font-size: 32px;
    margin: 15px;
    transition: 0.25s; 
    
    
}
.green_text{
    font-size: 11px;
    color: #ffffff;
    transition: 0.25s; 
}
.par2{
    display: flex;
}    
.NFTimg{
    width: 30%;
    border-radius: 10px;
    margin-right: 40px;
    margin-top: 10px;
}
.text2 p{
    font-size: 11px;
    margin: 15px;   
    
}
.text2{
    margin-top: 45px;
}


.prase:hover{    
    transform: scale(1.3);
    border: 2px solid #8DFD1B;


}
.prase:hover .number{    
    
    color:#000000;
    background-color: #8DFD1B;


}
.prase:hover .green_text{
    color: #8DFD1B;
}

.conteiner{
    perspective: 50px;
    display: flex;
    position:absolute;
    align-items: center;
    perspective: 35px;
    animation: zooming 5s ease-in-out infinite;
    margin-top: 100px;    
}
.conteiner1{
    perspective: 50px;
    display: flex;
    position:absolute;
    align-items: center;
    perspective: 35px;
    animation: zooming 3s ease-in-out infinite;
    margin-top: 600px;
    margin-left: 750px;

}
.conteiner2{
    perspective: 50px;
    display: flex;
    position:absolute;
    align-items: center;
    perspective: 35px;
    animation: zooming 7s ease-in-out infinite;
    margin-top: 1100px;    
}
.frame{
    position: absolute;    
    height: 670px;
    width: 670px;
    border-radius: 350px;
    border: 2px solid #8DFD1B;
    filter:opacity(0.8);
    transition: 0.7s;
    animation: breathing 3s ease-in-out infinite;
    
}
.frame:nth-child(1){
    transform:translateZ(0px) translateX(0px);
    opacity: 0.25;
    animation-delay: 0.1s;
}
.frame:nth-child(2){
    transform:translateZ(-10px)translateX(100px);
    opacity: 0.3;
    animation-delay: 0.3s;
}
.frame:nth-child(3){
    transform:translateZ(-20px) translateX(200px);
    opacity: 0.45;
    animation-delay: 0.5s;
}
.frame:nth-child(4){
    transform:translateZ(-30px)translateX(300px);
    opacity: 0.5;
    animation-delay: 0.7s;
}
.frame:nth-child(5){
    transform:translateZ(-50px) translateX(500px);
    opacity: 0.65;
    animation-delay: 0.9s;
}
@keyframes breathing{
    0% {opacity: 0.7;}
    50% {opacity: 0.1;}
    100% {opacity: 0.7;}
}

@keyframes zooming{
    0% {perspective: 35px;}
    50% {perspective: 36px;} 
    100% {perspective: 35px;}  
}

.line2{
    width: 1px;
    height: 40px;
    background-color: #8DFD1B;
    position: relative;
    left: 700px;
}

/*slaid_7*/
.slaid_7{
    display: flex;
    width: 1440px;
    height: 758px;   
    
}

.wave_nft2{
    height: 578px;
    width: 442px;
    margin-right: 200px;
}
.wave_nft2 H2{
    
    width: 297px;
    margin: 5px;
}
.accordion{
    height: 578px;
    width: 783px;
    background-color: #1b1b1b;
    
    
}
.accordion_item{
    position: relative;
}
.accord-input{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;    
}
.accord-item_trigger{
    
    display: block;
    padding: 20px;    
    cursor: pointer;

}
.accord-item_content{
    padding: 10px;    
    border-top: none;
    display: none;
    
}
.accord-item_trigger:hover{
    background-color: #222222;
}

.accord-input:checked ~ .accord-item_trigger{
    background-color: #222222;

} 
.accord-input:checked ~ .accord-item_trigger .down{
    transform: rotate(180deg);

} 
.accord-input:checked ~ .accord-item_content{
    display: block;
    background-color: #222222;
} 
.down{
    width: 2%;
    position: absolute;
    left: 200px;
    left: 730px;
    top: 33px;
}

/*slaid_9*/
.slaid_9{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.workers{

    height: 552px;
    width: 320px;
    text-align: center;
    filter: grayscale(100%);
    transition: 0.5s;

}
.workers h3{
    font-size: 11px;
    color: #8DFD1B;
}
.workers h2{
    font-family:  'DM Mono', monospace;;
    font-size: 21px;
    color: #ffffff;
    
}    
.workers:hover{
    transform: scale(1.1);
    filter: none;
        

}
/*slaid_10*/
.slaid_10{
    height: 584px;
    width: 1167px;
}

.final{
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;

}
.JOIN{
    margin-top: 100px;
    width: 483px;
    height: 349px;
}
.final p {
    width: 375px;
    height: 77px;
    
}
.final h1{
    margin: 5px;
}

.bottom3{   
    display: block;
    text-align: center;    
    background-color: #8DFD1B;
    width: 213px;
    height: 30px;
    padding: 0px 10px;
    
}
.bottom3 a{
    
    left: 310px;    
    transition: 0.5s;    
    text-decoration: none;
    font-family: 'DM Mono', monospace;
    font-size: 16px;
    color: #000000;    

}

.slaid_11{
    position: absolute;
    left: 0px;
    width: 1831px;    
    height: 338px;
    background-color: #42006A;
    
}
.footer{
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    

}
.icon_btn{
    position: relative;
    top: 5px;
}